.login {
    width: 100%;
    height: 100vh;
    background: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;


    .login-right {
        width: 83%;

        ::v-deep .el-form-item__error {
            color: #F56C6C;
            font-size: 15px;
            line-height: 1;
            padding-top: 4px;
            position: absolute;
            top: 100%;
            left: 0;
        }


        ::v-deep .el-button--default :hover {
            color: #5dd5c8;
        }

        ::v-deep .el-drawer {
            background-color: rgb(56, 55, 55);
            color: rgb(212, 209, 209);

        }

        ::v-deep .el-drawer__body {
            padding: 0 20px 0 20px;
        }

        ::v-deep .el-drawer__header {
            color: rgb(230, 230, 230);
            font-weight: 550;
            font-size: 20px;
        }

        .title {
            color: rgb(204, 199, 199);
            text-align: center;
        }

        .tab {
            display: flex;
            justify-content: space-between;
            width: 35%;
            margin: 30px auto;
            color: grey;

            .tab-item {
                height: 30px;
                flex: 1;
                text-align: center;
            }
        }

        .active {
            color: white;
            border-bottom: 1px solid rgb(44, 99, 250);
        }

        .loginBox {
            width: 500px;
            height: 400px;
            background-color: rgba($color: rgb(12, 11, 11), $alpha: 0.8);
            border-radius: 10px 10px 10px 10px;
            padding-top: 30px;
            position: relative;
            top: 20%;
            left: 45%;

            ::v-deep .demo-ruleForm {
                width: 400px;
                margin-top: 30px;
            }

            ::v-deep .el-form-item__label {
                color: white;
                font-size: 16px;
            }

            ::v-deep .el-input__inner {
                color: white;
                background-color: rgba($color: #fff, $alpha: 0.3);
                margin-bottom: 10px;
                font-size: 16px;
            }

            ::v-deep .el-button {
                width: 40%;
                justify-content: center;
            }

            ::v-deep .el-form-item__content {
                display: flex;
                margin-top: 10px;
                height: 100%;
            }

            ::v-deep .el-form-item__label {
                font-size: 16px;
                position: relative;
                top: 10px;
            }
        }
    }
}